#main{
	margin-top:80px;
}
#input {
	float: left;
	width: 47%;
	min-width: 300px;
	height: 650px;
	background-color: black;
	color: white;
	font-size:14px;
	line-height: 115%;
	resize: none;
	margin-left: 17px;
}

#output {
	display: inline-block;
	float: right;
	width: 47%;
	min-width: 300px;
	height: 650px;
	border: 1px solid black;
	overflow:auto;
	margin-right: 17px;
}

#test {
	margin-bottom: 0px;
	font-size: 15px;
	background: #eee9f2;
}

#editor {
	height: 650px;
}

#close {
	margin-bottom: 0px;
	font-size: 15px;
}

#reset {
	margin-bottom: 0px;
	font-size: 15px;
}
