
 
    /* Prevent the slideshow from flashing on load */
    #slides {
      display: none
    }

    /* Center the slideshow */
    .container {
      margin-top:200px;
      width: 75%;
      margin: 0 auto
    }

    /* Show active item in the pagination */
    .slidesjs-pagination .active {
      color:#572B85;
    }

    .slidesjs-previous{
      text-decoration:none;
      color:black;
      margin-left:80%;
    }
     .slidesjs-next{
      margin-left:17px;
    text-decoration:none;
    color:black;

    }

    .slidesjs-next > a:link {
    text-decoration: none;
    color:black;
    
}

/* visited link */
.slidesjs-next  > a:visited {
  text-decoration: none;
    color:black;
}

/* mouse over link */
.slidesjs-next > a:hover {
    text-decoration: none;
    color:#572B85;
}

/* selected link */
.slidesjs-previous > a:active {
    text-decoration: none;
    color:black;
}

  .slidesjs-previous > a:link {
    text-decoration: none;
    color:black;
    
}

/* visited link */
.slidesjs-previous  > a:visited {
  text-decoration: none;
    color:black;
}

/* mouse over link */
.slidesjs-previous > a:hover {
    text-decoration: none;
    color:#572B85;
}

/* selected link */
.slidesjs-previous > a:active {
    text-decoration: none;
    color:black;

}

.slidesjs-container{
  margin-bottom:40px;
}

.slidesjs-pagination{
  display:none;
}

.slidesjs-navigation{
  text-decoration:none;
}

    /* Media quires for a responsive layout */

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 10px;
        padding-right: 10px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1170px
      }
    }
