html{



}

body{
	margin:0;
	font-family:gotham;
	min-width:413px;
}

/*  
HEADER STYLING- includes purple NYU and the Weekly heading 
*/

header{
	width:100%;
	background-color:#FFFFFF;
	position:fixed;
	top:-10px;
	z-index:10000;
	min-width:400px;
}

span.nyu_title_heading{
	margin:0;
	width:100%;
	display:inline-block;
	vertical-align:bottom;
	background-color:#572B85;
	color:#FFFFFF;
}

.nyu_title_heading > img{
	height:80px;
	display:inline-block;
	vertical-align:middle;
}

/*  
this is a selector that says apply the following style any H1 tag inside the span with class nyu_title_heading
it's a great way to be super selective without having a million different classes 
*/

span.nyu_title_heading > h1{
	font-size:36px;
	margin-left:17px;
}

span.week_heading{
	float:left;
	display:inline-block;
}

span.week_heading > h2{
	font-size:33px;
	text-align:left;
	margin-left:17px;
	margin-top:19px;
	margin-bottom:19px;
	line-height:62px;

}
span.weekly_topic_heading{
	float:right;
	display:inline-block;

}

span.weekly_topic_heading > h2{
	font-size:23px;
	text-align:right;
	margin-left:20px;
	margin-right:17px;
	margin-top:19px;
	margin-bottom:19px;
	line-height:62px;

}

hr.header_underline{
	width: 100%;
	border-width: 1px;
	border-style: solid;
}

div.weekly_heading_holder{
	height:100px;
}

/*
Navigation 
*/

.nav_links{
	width:32%;
	font-size:12px;
}



div.nav_links{
	margin-top:5px;
	margin-bottom:5px;
	display:inline-block;
	text-align:center;

}

/* THIS IS HOW TO STYLE LINKS*/
/* unvisited link */
div.nav_links > a:link {
    text-decoration: none;
    color:black;
}

/* visited link */
div.nav_links > a:visited {
    text-decoration: none;
    color:black;
}

/* mouse over link */
div.nav_links > a:hover {
    text-decoration: none;
    color:#572B85;
}

/* selected link */
div.nav_links > a:active {
    text-decoration: none;
    color:black;
}

/* This holds the link bank and the weekly headings*/ 
div.week_nav_title_holder{
	margin-top:80px;
}

p.daily_heading{
	margin-left:17px;
	margin-top:30px;
	margin-bottom:30px;
	font-size:20px;


}

div.daily_activity_prompt{
	margin-left:10%;
	margin-right:10%;
	background-color:black;
	height:350px;
}

div.daily_activity_prompt_text{
	vertical-align:middle;
	color:#FFFFFF;
	font-size:30px;
	text-align:center;
	display:table;

}

h3.call_to_action_headings{
	margin-left:17px;
	margin-top:30px;
	margin-bottom:30px;
	font-size:35px;
}

.example_holder{
	margin-left:10%;
	margin-right:10%;
	display: -webkit-box;
 	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display:flex;
	/*align-content:space-between;
	-webkit-align-content:space-between;
	flex-wrap:wrap;*/
	-webkit-flex-flow:row wrap;
	flex-flow:row wrap;
	justify-content:space-between;
	-webkit-justify-content:space-between;
	 
 
}

li{
	margin:auto;
}

li > a:link {
    text-decoration: none;
    color:black;
    
}

/* visited link */
li  > a:visited {
	text-decoration: none;
    color:black;
}

/* mouse over link */
li > a:hover {
    text-decoration: none;
    color:#572B85;
}

/* selected link */
li> a:active {
    text-decoration: none;
    color:black;
}


div.individual_example{
	height:240px;
	width:195px;
	text-align:center;
	margin:auto;
	padding:5px;

}


.individual_example < p{
	margin-bottom:30px;
}

div.daily_example_code{
	margin-left:10%;
	margin-right:10%;
	margin-bottom: 10px;
}

div.daily_example_code > p{
	padding:10px;
}

div.daily_example_code > img{
	width:100%
}

.button_holder{
	display: -webkit-box;
 	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display:flex;
	align-content:space-between;
}

.btn {
	margin:auto;
  -webkit-border-radius: 22;
  -moz-border-radius: 22;
  border-radius: 22px;
  color: #ffffff;
  font-size: 20px;
  background: #572B85;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  font-family:gotham;
  margin-bottom:80px;
}

.btn:hover {
  background: #8445c7;
  text-decoration: none;
}

/* unvisited link */
.btn > a:link {
    text-decoration: none;
    color:white;
    
}

/* visited link */
.btn  > a:visited {
	text-decoration: none;
    color:white;
}

/* mouse over link */
.btn > a:hover {
    text-decoration: none;
    color:black;
}

/* selected link */
.btn > a:active {
    text-decoration: none;
    color:black;
}


div.bottom_nyu_line{
	height:98px;
	background-color:#572B85;

	
	
}

div.bottom_nav_holder{
	margin-right:17px;
	margin-top:12px;
	text-align:right;
	font-size:12px;
	display:inline-block;
	float:right;
}

li {
	list-style: none;
}
/* THIS IS HOW TO STYLE LINKS*/
/* unvisited link */
li.footer_nav > a:link {
    text-decoration: none;
    color:white;
    
}

/* visited link */
li.footer_nav  > a:visited {
	text-decoration: none;
    color:white;
}

/* mouse over link */
li.footer_nav > a:hover {
    text-decoration: none;
    color:black;
}

/* selected link */
li.footer_nav > a:active {
    text-decoration: none;
    color:black;
}




/*  
MEDIA QUERIES ARE GREAT FOR HELPING CREATE RESPONSIVE WEBSITES
Basically, this code snippet detects screen size and changes the styling based on how big the screen is.
For phone users, the header changes slightly so all the text will fit onto the screen
*/

@media screen and (max-width: 723px) {
    /* make the line height smaller so that the font stacks easily */
    span.weekly_topic_heading_week_1 > h2{ 
    	margin-top:0px;
		line-height:normal;
		    }
	div.weekly_heading_holder_week_1{
		height:130px;
	}
	
}

@media screen and (max-width: 560px) {
    
	div.weekly_heading_holder_week_1{
		height:150px;
	}
	
}

@media screen and (max-width: 350px) {
    
	div.weekly_heading_holder_week_1{
		height:200px;
	}
	
}

/*WEEK TWO MEDIA QUERIES FOR NAV*/

@media screen and (max-width: 527px) {
    /* make the line height smaller so that the font stacks easily */
    span.weekly_topic_heading_week_2{ 
    	margin-top:-40px;
    	margin-bottom:-20px;
		line-height:normal;
		    }
	div.weekly_heading_holder_week_2{
		height:150px;

	}
	
}

/* WEEK 3 Nav */





