@charset "UTF-8";
/* CSS Document */
@font-face {
   font-family:GothamBold;
   src: url(Gotham-Bold.otf) format(opentype);
}


@font-face {
   font-family:GothamLight;
   src: url(Gotham-Light.otf) format(opentype);
}

html, body { max-width: 100%; margin: 0; padding: 0; font-family: GothamLight, "Helvetica Neue", Helvetica, Arial, sans-serif;}




/* Faux-Template */
h1, h2, h3, h4, h5, h6 { text-transform: uppercase; }
header { height: 85px; padding: 15px; background-color: #562C88; color: white; }
.byweek { width: 28%; margin-left: 5%; float: left; text-align: center; }
h3 { color: black; }
hr { clear: both; }

.top_heading{
	margin-top:90px;
}

/* Week Number */
.heading { margin-left: 3%; margin-right: 3%;}
.title { text-align: left; float: left; vertical-align: top; line-height: 12px; font-family:GothamBold;}
.subtitle { text-align: right; float: right; vertical-align: top; line-height: 22px; font-family:GothamBold; }

/* Text Day X: Description*/
section { min-width: 480px; width: 94%; max-width: 1328px; margin-left: auto; margin-right: auto;clear: both; margin-bottom: 50px;}

/* Table Styles */
table, th, td {border: 1px solid white; }
table { width: 100%; background-color:#CFCECE; border-collapse: collapse;}
th {text-align: left; padding: 10px; }
.one {width: 30%; }
.two { width: 30%; }
.three { width: 30%; }

/*  
HEADER STYLING- includes purple NYU and the Weekly heading 
*/

header{
	width:100%;
	background-color:#FFFFFF;
	position:fixed;
	top:-10px;
	z-index:10000;
	min-width:400px;
	padding:0px;
}

span.nyu_title_heading{
	margin:0;
	width:100%;
	display:inline-block;
	vertical-align:bottom;
	background-color:#572B85;
	color:#FFFFFF;
}

.nyu_title_heading > img{
	height:90px;
	display:inline-block;
	vertical-align:middle;
}

/*  
this is a selector that says apply the following style any H1 tag inside the span with class nyu_title_heading
it's a great way to be super selective without having a million different classes 
*/

span.nyu_title_heading > h1{
	font-size:36px;
	margin-left:17px;
	font-family:GothamBold;
	font-weight:normal;
}




div.bottom_nyu_line{
	height:98px;
	background-color:#572B85;

	
	
}

div.bottom_nav_holder{
	margin-right:17px;
	margin-top:9px;
	text-align:right;
	font-size:12px;
	display:inline-block;
	float:right;
	
}

li {
	list-style: none;
}
/* THIS IS HOW TO STYLE LINKS*/
/* unvisited link */
li.footer_nav > a:link {
    text-decoration: none;
    color:white;
    
}

/* visited link */
li.footer_nav  > a:visited {
	text-decoration: none;
    color:white;
}

/* mouse over link */
li.footer_nav > a:hover {
    text-decoration: none;
    color:black;
}

/* selected link */
li.footer_nav > a:active {
    text-decoration: none;
    color:black;
}

